html,body {
	min-height:100vh;
}

img {
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}


.circle {
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	border-radius: 50%;
	background: white;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	display:block;
  }


.navbar > .container, .navbar > .container-fluid {
	justify-content: end;
}


.postlikes {
	height:30px;
}

.navbar-collapse {
	flex-grow: 0;
}


.headerimg {
	height:30px;
	width:30px;
}