<div class="container">

       <section id="feed" class = "row">
                <div class="col-12 mt-3">
                    <div class="row ">
                            <a ui-sref="feedItem({id:post.id})"  class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-4" ng-repeat="post in posts">
                                <img class = "border border-secondary" ng-src={{post.image}}>
                            </a>
                    </div>
        
                </div>
        </section>
 
    <div class="d-flex justify-content-center mt-4 mb-4">
            <button type="button" class="btn btn-primary"  ng-click="loadmore()">Load More</button>
    </div>
</div>








