
<body>
    <div>
            <img src="./images/hero_bg.jpeg" class="img-responsive"/>
            <!--<img src="./images/hero_logo.png" class="img-responsive" /> -->
    </div>



    <div class="container">
        <div class="card mx-auto m-5 border-0 col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-6">
            <div class="card-body"> 
                <h1 class="card-title text-center font-weight-normal">What Is Exchange-A-Gram?</h1>
                <div class="row" >
                    <p class="card-text text-center">Exchange-A-Gram is a social exchange application. Users can put their photos out their on the line and create exchanges without needing to say anything.
                            Eventually people are exchanging ideas. 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-primary">
        <div class="card mx-auto p-0 border-0 ">
            <div class="card-body bg-primary "> 
                <h1 class="card-title text-center font-weight-light text-white">How It Works</h1>
                <div class="row">
                        <div class="card bg-primary mx-auto border-0 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="card-body"> 
                                    <span class="circle card-title text-center text-primary display-4">1</span>
                                    <div class="row">
                                        <p class="w-100 card-text text-center text-white">Take a photo instantaneously (or not instantaneously) 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-primary mx-auto border-0 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="card-body"> 
                                        <span class="circle card-title text-center text-primary display-4">2</span>
                                        <div class="row align-center">
                                            <p class="w-100 card-text text-center align-center text-white">Put that image out on the line
                                            </p>
                                        </div>
                                    </div>
                            </div>
                            <div class="card bg-primary mx-auto border-0 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="card-body"> 
                                        <span class="circle card-title text-center text-primary display-4">3</span>
                                        <div class="row" >
                                            <p class="w-100 card-text text-center text-white">Like and comment on images other users have posted 
                                            </p>
                                        </div>
                                    </div>
                            </div>
                </div>
            </div>
        </div>
    </div>




    </div>
</body>