<div class = "container pb-5">
    <div class = "container bg-light center my-4 pb-5" >
            <h1 class = "display-4 font-weight-lighter text-center pt-3 col-12">Exchange A New Gram</h1>
                <form method="POST" action="https://exchangeagram.azurewebsites.net/api/upload" enctype="multipart/form-data">

                        <div class="form-group col-12 mt-3">
                            <label for="ImageSelect">Select Image:</label>
                            <input type="file" class="form-control" name="image" id="image">
                        </div>

                        <div class="form-group col-12">
                            <label for="InputCaption">Enter A Caption:</label>
                            <textarea type="text" rows="3" class="form-control" name="caption" id="caption" placeholder="Insert Caption">
                            </textarea>
                        </div>

                        <div>
                                <input type="hidden" name="token" id="token" value={{$root.token}}>
                                <input type="hidden" name="redirect" id="redirect" value="http://127.0.0.1:8080/#!/upload" />
                        </div>

                        <div class="d-flex justify-content-center pb-4">
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                </form>
                <div class = "container mx-5 py-5">


                </div>
    </div>
</div>